.App {
  text-align: center;
}
/* Page backgrounds */
.counter-light {
  background-color: #f4f6f8;
}

.counter-dark {
  background-color: #121212;
}

/* Card styles */
.card-light {
  background-color: #ffffff;
  color: #000000;
}

.card-dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Smooth transition */
.counter-light,
.counter-dark,
.card-light,
.card-dark {
  transition: all 0.3s ease;
}
